body{
    margin: 0;
    padding: 0;
}
.head1{
    display: flex;
    height: 84px;
    background: #FFFCDE;
}
.head1 img{
    position: absolute;
    left: 93px;
    top: 19px;
    bottom: 18px;
}
.head1 h1{
    position: absolute;
    left: 186px;
    top: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.05em;
    
    color: #000000;
}
.head1 a{
    position: absolute;
    left: 75px;
    top: 20px;
    width: 285px;
    height: 60px;
}
.head2{
    display: flex;
    padding-top: 0px;
    margin-top: 0px;
    background: url(../img/back_courses.png) no-repeat center top;
    height: 490px;
    width: 100%;
}
.head2 h1{
    top: 227px; 
    left: 52px;
    position: relative;
    font-family: Montserrat;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 61px;
    letter-spacing: 0em;
    color: rgba(0, 0, 0, 0.65);    
}
.head2 h2{
    top: 220px;
    left: 68px;
    position: relative;
    font-family: Montserrat;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 61px;
    letter-spacing: 0em;
    color: rgba(0, 0, 0, 0.65);             
}
.head2 h3{
    position: relative;
    top: 270px;
    right: 517px;   
    font-family: Montserrat;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 61px;
    letter-spacing: 0em; 
    
    color: rgba(0, 0, 0, 0.65);    
}
.head2 h4{
    position: relative;
    top: 254px;
    right: 501px;
    font-family: Montserrat;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: left;
    
    color: rgba(0, 0, 0, 0.65);    
}
.main{
    display: flex;
}
.main h2{
    padding-left: 21px;
    padding-top: 8px;
    width: 305px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    
    color: #000000;    
}
.main h1{
    padding-top: 69px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    text-align: center;    
}
.basic h3, .pro h3{
    padding-left: 21px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;    
}
.kzt_text h3{
    width: 300px;
    padding-left: 21px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;      
}
.kzt_text{
    display: flex;
}
.kzt_text h2{
    padding-top: 20px;    
}
.basic{
    margin-top: 111px;
    margin-left: 110px;
    width: 350px;
    height: 732px;
    background: #F9F6D8;
}
.mln_text {
    display: flex;
}
.mln_text h3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;   
    padding-left: 21px;
    padding-right: 5px; 
    padding-top: 4px;    
}
.mln_text h6{
    padding-left: 21px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;   
}
.main a{
    padding-top: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;  
    text-decoration: none;
    color: #000000;
}
.try h4{
    padding-top: 7px;
    padding-left: 103px;
}
.try{
    margin-top: 50px;
    margin-left: 44px;
    background: #FFE401;
    width: 253px;
    height: 44px;      
}
.pro{
    margin-top: 111px;
    margin-left: 121px;
    width: 350px;
    height: 810px;
    background: #F9F6D8;    
}
.enterprise{
    margin-top: 111px;
    margin-left: 121px;
    width: 350px;
    height: 740px;
    background: #F9F6D8; 
}
.container{
    height: 950px;  
    margin-top: 100px;
    background: #FFFCDE;
}
hr{
    width: 931px;
}
.row{
    padding-top: 56px;
}
.container h1{
    padding-left: 389px;
    width: 771px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;    
}
.container h2{
    padding-left: 350px;
    width: 816px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;    
    padding-bottom: 27px;
}
.container h6{
    padding-left: 390px;
    width: 816px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;    
}
.yelsec{
    background: #FFE401;
}
.yeye a{
    padding-left: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}
.yeye{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 350px;
}
footer{
    background: #343539;
}
footer #logotype{
    padding-left: 580px;
    padding-top: 40px;
    width: 277px;
    height: 154px;
}
.logos{
    padding-left: 600px;
    padding-top: 20px;
    padding-bottom:20px;
}
.logos a{
    padding-left: 20px;
}
